<section id="profit">


  <div class="title-container">
    <img loading="lazy" src="../../../assets/landing/separador1.png" alt="Cuales son los Beneficios?" loading="lazy" class="title-background">
    <h2 class="title">¿Cuáles son los<strong> BENEFICIOS</strong>?</h2>
  </div>

  <div class="profit-container d-flex justify-content-center">
    <!-- <div class="image-bg">
      <img loading="lazy" src="../../../assets/images/home/oportunidad/oportunity.png" alt="" style="max-width: 1200px;">
    </div> -->

    <div class="d-flex flex-column aling-center">
      <img loading="lazy" class="profit-pic" src="../../../assets/images/profit.png" alt="" >
      <div class="btn-container">
        <button class="btn btn-steps-invierte">Invierte</button>
        <div class="btn-border"></div>
      </div>
    </div>
  </div>

</section>
