.title-container {
  position: relative;
  min-height: 12vw;
  top: 8vw;
  z-index: 3;
}

.title-background {
  width: 66%;
  max-width: 800px;
  min-height: 69px;
  position: absolute;
  right: -3px;
}

.title {
  position: absolute;
  color: white;
  top: 1.2vw;
  right: 10vw;
}

.card-design {
  width: 100%;
}


.over-image {
  position: absolute;
  top: 3%;
  left: 3.5%;
  width: 91.2%;
  height: 93%;


  .project-image-container {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 210px;
    overflow: hidden;
  }

  .project-values {
    display: flex;
    justify-content: space-between;

    .left-values {
      display: flex;
      flex-direction: column;
      margin: 4% 0 0 11%;

      // CARD LEFT
      .sector-l {
        font-size: 0.8rem;
        font-weight: 600;
        max-width: 205px;
        display: inline-block;
        margin: 8% 0 0 14%;
      }

      .empresa-l {
        font-size: 0.8rem;
        font-weight: 600;
        max-width: 170px;
        display: inline-block;
        margin: 11% 0 0 13%;
      }

      .monto-l {
        font-size: 0.8rem;
        font-weight: 600;
        max-width: 170px;
        display: inline-block;
        margin: 17% 0 0 10%;
      }

      .destino-l {
        font-size: 0.8rem;
        font-weight: 600;
        max-width: 170px;
        display: inline-block;
        margin: 24% 0 0 10%;
      }

      // CARD RIGHT
      .sector-r {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 7% 0 0 15%;
        max-width: 205px;
        display: inline-block;
      }

      .empresa-r {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 11% 0 0 15%;
      }

      .monto-r {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 15% 0 0 12%;
      }

      .destino-r {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 26% 0 0 12%;
        max-width: 205px;
        display: inline-block;
      }
    }

    .right-values {
      display: flex;
      flex-direction: column;
      margin: 15% 13% 0 0;
      width: 23%;

      // CARD LEFT
      .plazos-l {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 17% 0 0 14%;
      }

      .tasa-l {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 33% 0 0 54%;
      }

      .frecuencia-l {
        font-size: 0.8rem;
        font-weight: 600;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 50% 7%;
      }

      // CARD RIGHT
      .plazos-r {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 15%;
      }

      .tasa-r {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 19% 0 0 56%;
      }

      .frecuencia-r {
        font-size: 0.8rem;
        font-weight: 600;
        font-weight: 600;
        margin: 45% 0 0 18%;
      }
    }

  }

  .footer-card {
    display: flex;
    justify-content: center;

    .circle-progress {
      width: 30%;
    }


    .buttons-container {
      width: 30%;
      margin-left: 25px;

      .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-bottom: 1rem;

        // BOTON "INVERTIR"
        .btn-invest {
          color: white;
          font-weight: 600;
          font-size: 15px;
          z-index: 10;
          font-family: 'Gill Sans MT';
          letter-spacing: 0.1rem;
          width: 70%;
          cursor: pointer;
        }
        .btn-border-invest {
          background-color: transparent;
          border: 1px solid #000000;
          position: absolute;
          width: 70%;
          height: 34px;
          top: 0px;
          right: 25px;
          border-radius: 3px;
        }
        .btn-invest:hover {
          background-color: #E33823;
          cursor: pointer;
        }

        // BOTON "VER MAS"
        .btn-view-more {
          color: white;
          font-weight: 600;
          font-size: 15px;
          z-index: 10;
          font-family: 'Gill Sans MT';
          letter-spacing: 0.1rem;
          width: 97%;
          cursor: pointer;
        }
        .btn-border-view-more {
          background-color: transparent;
          border: 1px solid #000000;
          position: absolute;
          width: 97%;
          height: 34px;
          top: 0px;
          right: 5px;
          border-radius: 3px;
        }
        .btn-view-more:hover {
          background-color: #223262;
          cursor: pointer;
        }

      }

    }

  }
}


.image-separator {
  position: absolute;
  width: 100%;
  height: 18vw;
  bottom: -5vw;
  background-image: url('../../../assets/landing/video-separator.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}



@media (max-width: 1100px) {
  .title-container {
    min-height: 10vw;
    top: 5vw;
  }

  .title-background {
    min-width: 60vw;
  }

  .title {
    top: 0.5vw;
    right: 15vw;
    font-size: 3vw;
  }
}


/* Resolucion Mobile */
@media (max-width: 480px) {

  .title-background {
    min-height: 30px;
  }

  .title {
    right: 3vw;
    font-size: 4vw;
  }

  .profit-list {
    width: 70%;
    min-width: auto;
    left: 50%;
  }

  .over-image {
    position: absolute;
    top: 3%;
    left: 3.3%;
    width: 91.2%;
    height: 92.4%;


    .project-image-container {
      width: 100%;
      border-radius: 10px 10px 0 0;
      height: 36.3vw;
      overflow: hidden;
    }

    .project-values {

      .left-values {
        .sector-l {
          margin: 4% 0 0 12%;
        }

        .empresa-l {
          margin: 10% 0 0 11%;
        }

        .monto-l {
          margin: 15% 0 0 9%;
        }

        .destino-r {
          font-weight: 600;
          max-width: 130px;
          display: inline-block;
          margin: 20% 0 0 10%;
        }

        .destino-l {
          max-width: 100px;
          margin: 18% 0 0 10%;
        }

        .text-project {
          font-size: 2vw;
        }
      }

      .right-values {

        .plazos-l {
          margin: 20% 0 0 10%;
        }

        .plazos-r {
          margin: 14% 0 0 15%;
        }

        .tasa-l {
          margin: 35% 0 0 52%;
        }

        .tasa-r {
          margin: 35% 0 0 58%;
        }

        .frecuencia-r {
          margin: 50% 0 0 17%;
        }

        .text-project {
          font-size: 2vw;
        }
      }
    }

    .footer-card {
      margin-top: 4%;

      .buttons-container {
        width: 48%;
      }
    }

  }
}
