<section id="choise-oportunity">

  <div class="title-container">
    <img loading="lazy" src="../../../assets/landing/separador1.png" alt="Elige tu oportunidad de invertir"
      loading="lazy" class="title-background">
    <h2 class="title">Elige tu oportunidad de INVERTIR</h2>
  </div>


  <div class=" mt-5">
    <div class="d-flex justify-content-center flex-wrap">

      <!-- Esta parte deberia cambiarse a un *ngFor -->
      <div class="m-4 " style="position: relative; max-height: 700px;">
        <img loading="lazy" src="../../../assets/images/cards/card-left.png" class="card-design">
        <div class="over-image">
          <div class="project-image-container">
            <img loading="lazy" [src]="projects[0].proyectoRutas[0].ruta" alt=""
              style="width: 100%; border-radius: 10px;" loading="lazy">
          </div>

          <div class="project-values">
            <div class="left-values">
              <span class="sector-l text-project">{{projects[0].empresa.actividad.nombre}}</span>
              <span class="empresa-l text-project">{{projects[0].empresa.pais.pais}}</span>
              <span class="monto-l text-project">{{projects[0].montoSolicitado}}</span>
              <span class="destino-l text-project">{{projects[0].destinoFinanciamiento}}</span>
            </div>

            <div class="right-values">
              <span class="plazos-l text-project">{{projects[0].plazo}} meses</span>
              <span class="tasa-l text-project">{{projects[0].tasaEfectivaAnual}}%</span>
              <span class="frecuencia-l text-project">{{projects[0].pagoInteres}}</span>
            </div>
          </div>

          <div class="footer-card mt-4">
            <circle-progress class="circle-progress" [percent]="projects[0].avanceInversion.porcentaje" [radius]="40"
              [outerStrokeWidth]="16" [innerStrokeWidth]="8" [title]="projects[0].avanceInversion.porcentaje"
              [animationDuration]="300" titleFontWeight="700">
            </circle-progress>

            <div class="buttons-container">
              <div class="btn-container">
                <button class="btn-sm btn-invest bg-color-secondary-400">Invertir</button>
                <div class="btn-border-invest"></div>
              </div>
              <div class="btn-container">
                <button class="btn-sm btn-view-more bg-color-primary-400 text-white" (click)="handleViewMore(projects[0])">Explorar
                  mas</button>
                <div class="btn-border-view-more"></div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="m-4 " style="position: relative; max-height: 700px;">
        <img loading="lazy" src="../../../assets/images/cards/card-rigth.png" class="card-design">
        <div class="over-image">

          <div class="project-image-container">
            <img loading="lazy" [src]="projects[1].proyectoRutas[0].ruta" alt=""
              style="width: 100%; border-radius: 10px;" loading="lazy">
          </div>

          <div class="project-values">
            <div class="left-values">
              <span class="sector-r text-project">{{projects[1].empresa.actividad.nombre}}</span>
              <span class="empresa-r text-project">{{projects[1].empresa.pais.pais}}</span>
              <span class="monto-r text-project">{{projects[1].montoSolicitado}}</span>
              <span class="destino-r text-project">{{projects[1].destinoFinanciamiento}}</span>
            </div>
            <div class="right-values">
              <span class="plazos-r text-project">{{projects[1].plazo}} meses</span>
              <span class="tasa-r text-project">{{projects[1].tasaEfectivaAnual}}%</span>
              <span class="frecuencia-r text-project">{{projects[1].pagoInteres}}</span>
            </div>
          </div>

          <div class="footer-card mt-14">
            <circle-progress class="circle-progress" [percent]="projects[1].avanceInversion.porcentaje" [radius]="40"
              [outerStrokeWidth]="16" [innerStrokeWidth]="8" [title]="projects[1].avanceInversion.porcentaje"
              [animationDuration]="300" titleFontWeight="700"></circle-progress>
            <div class="buttons-container">
              <div class="btn-container">
                <button class="btn-sm btn-invest bg-color-secondary-400">Invertir</button>
                <div class="btn-border-invest"></div>
              </div>
              <div class="btn-container">
                <button class="btn-sm btn-view-more bg-color-primary-400" (click)="handleViewMore(projects[1])">Explorar
                  mas</button>
                <div class="btn-border-view-more"></div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="btn-container w-full text-center">
        <button class="btn btn-view-more bg-color-primary-400 text-white" style="width: 250px;
        font-size: 1.5rem;
        border-radius: 10px;">Ver más</button>
        <div class="btn-border-view-more" style="width: 255px;
        height: 50px;
        border-radius: 10px;"></div>
      </div>

    </div>
  </div>


  <!-- SEPARATOR -->
  <div style="position: relative; width: 100%; margin-top: 3rem;">
    <div class="image-separator"></div>
  </div>


</section>
