<app-navbar></app-navbar>
<app-home></app-home>

<!-- Quienes SOMOS -->
<app-about-us></app-about-us>

<!-- Como lo logramos? -->
<app-how-we-did></app-how-we-did>

<!-- Como puedo invertir? -->
<app-how-to-invest></app-how-to-invest>

<!--Elige tu oportunidad de invertir-->
<app-choise-oportunity></app-choise-oportunity>

<!-- Calcula tu ganancia-->
<app-simulator></app-simulator>

<!-- Cuales son los beneficios? -->
<app-profits></app-profits>

<!-- Footer / Contacto -->
<app-footer></app-footer>