<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mt-4 relative">
      <img src="../../../assets/images/cards/view-project-border-desktop.png" class="card-border-img-desktop" alt="">
      <img src="../../../assets/images/cards/view-project-border-mobile.png" class="card-border-img-mobile" alt="">
      <div class="over-image absolute">

        <div class="media-container">
          <div class="video-container">
            <iframe class="video" [src]="safeURL" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
          <div class="image-container">
            <img loading="lazy" [src]="imgURL" [alt]="'Imagen de: ' + project.empresa.nombre">
          </div>
        </div>

        <div class="description-container">
          <span class="text-primary-400 font-bold text-lg">Antecedentes de la empresa:</span>
          <p class="description">{{project.empresa.antecedente.parrafo}}</p>
          <span class="text-primary-400 font-bold text-lg">Ventaja competitiva:</span>
          <p class="description">{{project.empresa.ventajaCompetitiva.parrafo}}</p>
          <ul>
            <li>
              - {{project.empresa.ventajaCompetitiva.item1}}
            </li>
            <li>
              - {{project.empresa.ventajaCompetitiva.item2}}
            </li>
            <li>
              - {{project.empresa.ventajaCompetitiva.item3}}
            </li>
            <li>
              - {{project.empresa.ventajaCompetitiva.item4}}
            </li>
          </ul>

        </div>

      </div>
    </div>

    <div class="col-12 col-lg-6 mt-5">
      <div class="row">
        <div class="col-12 monto-max ">
          <span class="pill-l bg-pill-blue text-white title font-bold text-xl p-3">
            Monto maximo:
          </span>
          <span class="text pill-r font-bold text-xl p-3">
            ${{project.montoSolicitado}}
          </span>
        </div>

        <div class="d-flex text-center items-center my-4">
          <div class="col-8 inversion-date">
            <div class="btn-container">
              <button class="btn btn-invest bg-color-secondary-400">{{project.avanceInversion.valor}}</button>
              <div class="btn-border-invest"></div>
            </div>
            <div class="inicio-inversion">
              <span class="text-secondary-400 font-bold">Fecha inicio de inversion</span>
              {{project.fechaInicioInversion}}
            </div>
            <div class="fin-inversion">
              <span class="text-secondary-400 font-bold">Fecha limite de inversion</span>
              {{project.fechaLimiteInversion}}
            </div>
          </div>
          <div class="col-4 circle-progress">
            <circle-progress class="circle-progress" [percent]="project.avanceInversion.porcentaje" [radius]="40"
              [outerStrokeWidth]="16" [innerStrokeWidth]="8" [animationDuration]="300" titleFontWeight="700">
            </circle-progress>
          </div>
        </div>

        <div class="col-6 rent-anual">
          <div class="pill-container flex flex-nowrap text-center font-medium">
            <div class="pill-l bg-pill-blue w-1/2">
              <span class="text-white text-base">Rentabilidad neta anual</span>
            </div>
            <div class="pill-r flex w-1/2 justify-center items-center">
              <div>
                <span class="">{{project.tasaEfectivaAnual}}%</span>
              </div>
            </div>
          </div>
        </div>


        <div class="col-6 type-invest">
          <div class="pill-container flex flex-nowrap text-center font-medium">
            <div class="pill-l bg-pill-orange flex w-1/2 justify-center items-center">
              <div>
                <span class="text-white">Tipo de inversion</span>
              </div>
            </div>
            <div class="pill-r flex w-1/2 justify-center items-center">
              <div>
                <span class="text-sm">{{project.tipoInversion}}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="col-6 destination">
          <div class="pill-container flex flex-nowrap text-center font-medium">
            <div class="pill-l bg-pill-orange flex w-1/2 justify-center items-center">
              <div>
                <span class="text-white">Destino</span>
              </div>
            </div>
            <div class="pill-r flex w-1/2 justify-center items-center">
              <div>
                <span class="text-xs">{{project.destinoFinanciamiento}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 activity">
          <div class="pill-container flex flex-nowrap text-center font-medium">
            <div class="pill-l bg-pill-blue flex w-1/2 justify-center items-center">
              <div>
                <span class="text-white">
                  Actividad
                </span>
              </div>
            </div>
            <div class="pill-r flex w-1/2 justify-center items-center">
              <div>
                <span class="text-xs">
                  {{project.empresa.actividad.nombre}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 pay">
          <div class="pill-container flex flex-nowrap text-center font-medium">
            <div class="pill-l bg-pill-blue flex w-1/2 justify-center items-center">
              <div>
                <span class="text-white">
                  Pago de capital
                </span>
              </div>
            </div>
            <div class="pill-r flex w-1/2 justify-center items-center">
              <div>
                <span class="">
                  100% al {{project.pagoCapital}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 calification">
          <div class="pill-container flex flex-nowrap text-center font-medium">
            <div class="pill-l bg-pill-orange flex w-1/2 justify-center items-center">
              <div>
                <span class="text-white">Calificacion interna</span>
              </div>
            </div>
            <div class="pill-r flex w-1/2 justify-center items-center">
              <div>
                <span class="">{{project.calificacion.nombre}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <span class=" text-primary-400 text-2xl font-bold">Indicadores 2021</span>
        </div>
        <div class="col-6 col-md-3 relative">
          <img src="../../../assets/images/cards/view-project-card-blue.png" style="width: 100%; min-width: 198px;">
          <div class="indicador-image-container">
            <div class="title">
              Solvencia
            </div>
            <div class="description">
              {{project.indicadores.solvencia}}
            </div>
            <div class="percent text-primary-400">
              {{project.indicadores.porcentajeSolvencia}}%
            </div>
          </div>

        </div>
        <div class="col-6 col-md-3 relative">
          <img src="../../../assets/images/cards/view-project-card-orange.png" style="width: 100%; min-width: 198px;">
          <div class="indicador-image-container">
            <div class="title">
              Liquidez
            </div>
            <div class="description">
              {{project.indicadores.liquidez}}
            </div>
            <div class="percent text-secondary-400">
              {{project.indicadores.porcentajeLiquidez}}%
            </div>

          </div>
        </div>
        <div class="col-6 col-md-3 relative">
          <img src="../../../assets/images/cards/view-project-card-blue.png" style="width: 100%; min-width: 198px;">
          <div class="indicador-image-container">
            <div class="title">
              Retorno/ Capital
            </div>
            <div class="description">
              {{project.indicadores.retornoCapital}}
            </div>
            <div class="percent text-primary-400">
              {{project.indicadores.porcentajeRetornoCapital}}%
            </div>
          </div>

        </div>
        <div class="col-6 col-md-3 relative">
          <img src="../../../assets/images/cards/view-project-card-orange.png " style="width: 100%; min-width: 198px;">
          <div class="indicador-image-container">
            <div class="title">
              Garantia
            </div>
            <div class="description">
              {{project.indicadores.garantia}}
            </div>
            <div class="percent text-secondary-400">
              {{project.indicadores.porcentajeGarantia}}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
